{
  "GoogleAuth": {
    "ClientId": "",
    "ClientSecret": ""
  },
  "Admin": {
    "SeedEmail": ""
  },
  "Payment": {
    "Provider": "Square",
    "Square": {
      "ApplicationId": "",
      "AccessToken": "",
      "LocationId": "",
      "WebhookSignatureKey": "",
      "UseSandbox": true
    }
  }
}
